# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Logs
logs/
*.log
logs/**/*.log

# OS-specific files
.DS_Store
Thumbs.db

# Build output
dist/
build/
.out/
.next/
.vercel/

# Dependency directories
.bower_components/
jspm_packages/

# Editors and IDEs
.idea/
.vscode/
*.swp
*.swo

# Testing
coverage/
.nyc_output/
jest-test-results.json

# TypeScript
*.tsbuildinfo
